
.midja{
    grid-area: 0;
}
.vinstri{
    grid-area: vinstri;
}
.haegri{
    grid-area: haegri;
}
.content{
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr;
    grid-template-areas: 0;
}
p.h4{
    padding: 0.5em 1em;
}
h4{
    margin-bottom: 0;
}
p{
    margin-top: 0;
}
header{
    text-align: center;
}
.topnav{
    background-color:yellow;
    padding: 0.5em;
}
.topmenu a{
text-decoration: aqua
}

